{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" class="">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=10.0,user-scalable=no" name="viewport">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<title>{% block pageName %}Check Ashely{% endblock pageName %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "style.css"%}">
</head>
<body>

	<div id="wrapper">
		{% block content %}
			
		{% endblock content %}
	</div>
</body>
</html>