body,html{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background-color: #a5004d;
	font-family: 'Lato', sans-serif;
	color: #333;

	background-image: -moz-radial-gradient(center center,circle cover,#ff0080 45%,#a5004d 75%);
	background-image: -webkit-gradient(radial,center center,0,center center,800,from(#ff0080),to(#a5004d),color-stop(45%,#ff0080),color-stop(75%,#a5004d));
	background-image: -webkit-radial-gradient(center center,circle cover,#ff0080 45%,#a5004d 75%);
	background-image: -o-radial-gradient(center center,circle cover,#ff0080 45%,#a5004d 75%);
	background-image: -ms-radial-gradient(center center,circle cover,#ff0080 45%,#a5004d 75%);
	background-image: radial-gradient(center center,circle cover,#ff0080 45%,#a5004d 75%);	
}

#wrapper{
	margin: 0 auto;
	padding: 2em 0;
	width: 80%;
	max-width: 700px;
	min-width: 300px;
	text-align: center;
}

#wrapper > div{
	background-color: #fff;
	display: inline-block;
	padding: 5%;
	margin: 0 auto;
}

h1{
	text-align: center;
	/*text-transform: uppercase;*/
	font-size: 4em;
	padding: 0;
	margin: 0;
	padding-bottom: 5%;
	line-height: 0.9em;
}

form{
	display: inline-block;
	position: relative;
	padding-bottom: 10px;
	text-align: left;
}

label,input{
	display: inline-block;
	border: 0!important;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: .01px;
	/*text-overflow: "";*/
	/*font-family: Lato,sans-serif;*/
	background: #fff;
	/*font-size: 1.2em;*/
	border-radius: 0;
	padding: 10px 15px;
	/*box-shadow: 5px 5px 5px #ccc;*/
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	vertical-align: top;
	/*margin: 10px auto;*/
}

input:hover{
	background-color: #ccc;
}

input[type="submit"]{
	background-color: #333;
	color: #fff;
	margin-left: 15px;
	position: absolute;
	right: 0;
	top: 100%;
}
input[type="submit"]:hover{
	background-color: #999;
}

#loading{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	height: 100vh;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
	display: table;
	vertical-align: middle;
}
#loading > div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 5em;
}

.maintext {
	text-align: left;
	line-height: 1.3em;
}

.or{
    margin: 0;
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
}

.alerted{
	border: solid 2px #a5004d;
    padding: 2rem;
    display: inline-block;
    text-align: left;
    font-weight: bolder;
    text-transform: uppercase;
}

.subtext{
	font-size: 0.55rem;
    line-height: 0.9em;
    text-align: left;
    padding-top: 50px;
}